@model CRUD_Dapper.Models.Destination

<h2>Create Destination</h2>

<form method="post" asp-action="CreateDestination">
    <label>Name</label>
    <input type="text" asp-for="Name" required class="form-control" />

    <label>Description</label>
    <textarea asp-for="Description" required class="form-control"></textarea>

    <label>Price</label>
    <input type="number" asp-for="Price" required class="form-control" />

    <label>Image URL</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />

    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>
